.footer {
    background: linear-gradient(135deg, #a8e6cf 0%, #dcedc1 100%);
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Footer Styles */

.footer h2, .footer h5 {
    color: #111111;
}
.footer h5 {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}
.footer i {
    margin-top: 18px;
    margin-left: 15px;
}
.footer p, .footer ul, .footer li {
    color: #333333;
}

.footer .footer-links a {
    color: #0e0b0b;
    text-decoration: none;
}

.footer .footer-links a:hover {
    color: #141313;
    text-decoration: underline;
}

.footer hr {
    border-color: #444;
}

.footer .list-inline-item a {
    color: #201919;
    font-size: 1.5rem;
}

.footer .list-inline-item a:hover {
    color: #fff;
}

.text-end {
    text-align: end;
}

@media (max-width: 767px) {
    .text-end {
        text-align: start;
    }
}