/* Section Styles */
.section {
    padding: 2em 0;
    display: flex;
}

.container-xxl {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.content {
    margin-bottom: 2em;
    width: 80%;
    margin-left: 100px; /* Adjust the left margin to align sections */
    margin-top: 150px;
}

.section .content {
    text-align: left !important;
}

.float-img {
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.highlight {
    font-weight: bold;
    color: #333;
}

.text,
.subtitle,
.comma {
    display: block;
    margin-bottom: 0.5em;
}

/* Responsive Styles */
@media (min-width: 1200px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .col-sm-3,
    .col-sm-5,
    .col-sm-7,
    .col-sm-9 {
        flex: 1;
    }
}
